body{background: linear-gradient(90deg,rgb(10, 15, 30) 0%,rgb(20, 45, 70) 45%,rgb(35, 80, 120) 100%);}
#titleText {
    text-align: center;
    font-size: 26pt;
    margin-top: 0px;
    user-select: none;
}
#calcflex{
    display: flex;
    align-items: first baseline;
    justify-content: center;
}
#backgroundCalc{
    background-color: black;
    height: 600px;
    width: 400px;
    border-radius: 25px;
    z-index: 0;
}
#textboxBackground{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100px;
    width: 350px;
    background-color: white;
    margin-top: 25px;
margin-left: 25px;
border-radius: 20px;
overflow-x: scroll;
overflow-y: hidden;
scrollbar-width: none;
-ms-overflow-style: none;
}
.value{
display: inline-block;
min-width: 100%;
text-align: right;
}
#calcResultNum{
    user-select: none;
    font-size: 30pt;
}

#backbuttons{
    height:  450px;
    width: 350px;
    background-color: aqua;
    border-radius: 20px;
    margin-left: 25px;
    margin-top: 5px;
}
.flexbuttons{
    display: flex;
    align-items: first baseline;
    justify-content: center;
    gap: 4px;
}

.flexbuttonslast{
     display: flex;
    align-items: center;
    justify-content: flex-start;  
    margin-left: 10px; 
    gap: 4px;
}
.sizeButtons{
    height: 75px;
    width: 80px;
    background-color: black;
    margin-top: 10px;
    border-radius: 20px;
    transition: 0.1s;
}
.sizeButtons:hover{
    background-color: gray;
}

.sizeButtons:active{
    color: red;
     background-color: white;
}
.TextInButtons{
    position: absolute;
    font-size: 30pt;
    text-align: center;
    color: cyan;
    margin-left: 29px;
    margin-top: 12px;
    user-select: none;
    transition: 0.1s;
}

#Calculatortext{
    user-select: none;
    margin-left: 170px;
    font-size: 30pt; margin-top: -55px;
    text-align: center;
    font-family: serif;
}


@media (max-width: 380px) {
#Calculatortext{
    user-select: none;
    margin-left: 170px;
    font-size: 25pt; margin-top: -55px;
    text-align: center;
    font-family: serif;
}
.sizeButtons:hover{
    background-color: black;
}
#CalcApp{transform: scale(0.9);}
#backgroundCalc{
    background-color: black;
    height: 600px;
    width: 400px;
    border-radius: 25px;
    z-index: 0;
    margin-top: -60px;
}
#textboxBackground{
    transform: translateX(-12px);
}
#backbuttons{
    transform: translateX(-12px);
}
}